/*color gris clarito*/
$color-grey: rgba(122, 114, 101, 1);
/* color gris oscuro */
$color-greyDos:rgba(67, 62, 63, 1);
/*color verde*/
$color-verde: rgb(172, 182, 34);
/*fuentes de todo el texto*/
$fuente: 'Montserrat', sans-serif;
$fuenteDos: 'Mate SC', serif;
$fuenteTres:'Satisfy', cursive;
/*color del fondo*/
$color-fondo: rgba(192, 183, 177, 1);

